<html>
    <head><title>Shoefony - Email de contact</title></head>
    <body>
        <h2>Nouvelle demande de contact</h2>
        <ul>
            <li><label>Prénom : </label> {{ contact.firstName }}</li>
            <li><label>Nom : </label> {{ contact.lastName }}</li>
            <li><label>Email : </label> {{ contact.email }}</li>
            <li><label>Message : </label> {{ contact.message }}</li>
        </ul>
    </body>
</html>